* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body {

    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
}
body img{
width: 100px;
height: auto;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: flex-end;
    background: rgb(255, 254, 254);
    color: white;
    display: flex;
    gap: 20px;
}
header img{
    width: 50px;
    height: auto;
}
